.faq-component {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: url("assets/images/faq-bg.svg");
    background-position-x: right;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
  .faq-container {
    margin-bottom: 5rem;
    .content {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .subtitle {
        margin-bottom: 4.4rem;
      }
      .description {
        font-family: DM Serif Display;
        font-size: 4.8rem;
        max-width: 55rem;
        line-height: 140%;
      }
    }
  }
}
