.hero-component {
  background-repeat: no-repeat;
  background-size: contain;
  height: auto;

  &::before {
    content: "";
    position: absolute;
    background-image: url("assets/images/hero.svg");
    width: auto;
    height: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 767px) {
      background-position: 50%;
    }
  }

  .navigation-component {
    padding-top: 5.4rem;

    @media screen and (max-width: 767px) {
      padding-top: .4rem;
    }
  }

  .hero-container {
    margin-bottom: 18rem;
    .title {
      font-size: 10rem;
      color: $white;
      font-family: "DM Serif Display";
      font-style: normal;
      font-weight: normal;
      font-size: 12rem;
      line-height: 13rem;
      margin-bottom: 7rem;
    }
  }

  .mobile {
    position: absolute;
    left: 0;
  }
}
